name: Upload dotnet package

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v5
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - run: dotnet build --configuration Release

      - name: Create the package
        run: dotnet pack --configuration Release --include-symbols --include-source --output ./nuget-packages

      - name: Publish the package to NuGet
        run: |
          for pkg in ./nuget-packages/MotzArt.FluentAssertions.*.nupkg; do
            dotnet nuget push "$pkg" --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate --source https://api.nuget.org/v3/index.json
          done
        
      - name: Publish the symbols package to NuGet
        run: |
          for pkg in ./nuget-packages/MotzArt.FluentAssertions.*.snupkg; do
            dotnet nuget push "$pkg" --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate --source https://api.nuget.org/v3/index.json
          done
